.Global__content-wrapper {
	margin: 0px auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
}

.Global__image-wrapper {
	width: 300px;
}

.Global__page-content {
	background-color: $white;
}