@import '../Layout/vars';

.header {
	background-color: $white;
}

.container {
	color: black;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 960px;
	padding: 1.45rem 1.0875rem;
}

.logo-wrapper { 
	flex: 1;
	max-width: 250px;
	margin-bottom: 1.45rem;
}

.nav-container {
	display: flex;
	flex: 0 1;
	ul {
		list-style: none;
		display: inline-flex;
	}
}

.nav-link {
	text-decoration: none;
    color: #afafaf;
    padding: 10px;
}

