@import '../Layout/vars';

.Footer-container {
  background: $concrete;
  bottom: 0;
	color: $boulder;
  font-size: 16px;
  position: fixed;
  width: 100%;
  padding: 1.45rem 1.0875rem;
}

.Footer-content {
  text-align: center;
  width: 100%;
}

.Footer-link {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
	&:hover {
		color: $tundora;
	}
}